---
import Layout from "@/layouts/Layout.astro";

import { entityTypes, provinces } from "@/utils/nif";
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl text-center">
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 dark:text-white"
            >
                Generador de CIF
                <span
                    class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                    >BETA</span
                >
            </h1>
            <div class="flex justify-center gap-4">
                <input
                    data-generation
                    type="text"
                    class="w-48 text-center px-4 py-2 text-2xl font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none cursor-copy"
                    readonly
                />
                <button
                    data-generate
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800"
                >
                    Generar
                </button>
            </div>
            <div class="mt-4 flex flex-col gap-4 items-center">
                <select
                    data-entity-type
                    class="max-w-sm px-4 py-2 font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none"
                >
                    <option value="">Selecciona un tipo de entidad</option>
                    {
                        entityTypes.map((type) => (
                            <option
                                value={type[0]}
                            >{`${type[0]} - ${type[1]}`}</option>
                        ))
                    }
                </select>
                <select
                    data-province
                    class="max-w-sm px-4 py-2 font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none"
                >
                    <option value="">Selecciona una provincia</option>
                    {
                        provinces.map((province) => (
                            <option
                                value={province[0]}
                            >{`${province[1]}`}</option>
                        ))
                    }
                </select>
            </div>
        </div>
    </section>
    <section class="mt-16 bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl text-center">
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 dark:text-white"
            >
                Validador de CIF
            </h1>
            <div class="flex justify-center gap-4">
                <input
                    data-validation
                    type="text"
                    class="w-48 text-center px-4 py-2 text-2xl font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none"
                />
            </div>
        </div>
    </section>
</Layout>

<script>
    import { generateCIF, validateCIF } from "@/utils/nif";

    const input = document.querySelector(
        "[data-generation]",
    ) as HTMLInputElement;

    const entity = document.querySelector(
        "[data-entity-type]",
    ) as HTMLSelectElement;

    const province = document.querySelector(
        "[data-province]",
    ) as HTMLSelectElement;

    const button = document.querySelector(
        "[data-generate]",
    ) as HTMLButtonElement;

    button.addEventListener("click", () => {
        const provinceCodes =
            province.options[province.selectedIndex].value.split(",");
        const provinceCode =
            provinceCodes[Math.floor(Math.random() * provinceCodes.length)];
        input.value = generateCIF(
            entity.options[entity.selectedIndex].value,
            provinceCode,
        );
    });
    input.value = generateCIF();

    input.addEventListener("click", () => {
        input.select();
        document.execCommand("copy");
    });

    const validation = document.querySelector(
        "[data-validation]",
    ) as HTMLInputElement;

    validation.addEventListener("keyup", () => {
        const value = validation.value;
        if (validateCIF(value)) {
            validation.classList.remove("border-red-500");
            validation.classList.add("border-green-500");
        } else {
            validation.classList.remove("border-green-500");
            validation.classList.add("border-red-500");
        }
    });
</script>
